.characterististics__video {
    position: relative;
}

@media ( width > 576px) {
    .characterististics__video {
        margin-bottom: 60px;
    }
}

@media ( width <= 576px) {
    .characterististics__video {
        margin-bottom: 40px;
    }
}

.characterististics__video-preview {
    overflow: hidden;
    border: 1px solid var(--main-color);
    border-radius: 12px;
}

.characterististics__video-play-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--overlay-color);
    border:1px solid  var(--main-color);
    box-shadow: var(--shadow-glow), inset var(--shadow-glow);
    border-radius: 100%;
    transition: border var(--transition-time), box-shadow var(--transition-time);
}

@media (any-hover: hover) {
    .characterististics__video-play-link:hover {
        border: var(--accent-color);
        box-shadow: var(--shadow-accent-glow), inset var(--shadow-accent-glow);
    }
}


@media (width > 576px) {
    .characterististics__video-play-link {
        width: 80px;
        height: 80px;
    }

    .characterististics__video-play-icon {
        width: 17px;
        height: 24px;
        transform: translateX(2px);
    }
}

@media (width <= 576px) {
    .characterististics__video-play-link {
        width: 48px;
        height: 48px;
    }
    .characterististics__video-play-icon {
        width: 10px;
        height: 13px;
        transform: translateX(1px);
    }

}


.characterististics__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 40px 20px;
}

.characterististics__card-icon {
    margin-bottom: 4px;
    transform: translateX(-8px);
}

@media (width <= 576px) {
    .characterististics__card-icon {
    width: 48px;
    height: 48px;
}
}

.characterististics__card-title {
    margin-bottom: 20px;
}

.characterististics__card-description  {
    font-weight: 300;
font-size: 14px;
line-height: 140%;
color: var(--main-color);
}