@font-face {
    font-family: Montserrat;
    src: local("Montserrat-Light"), local("MontserratLight"),
     url("../../fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src:local("Montserrat-Regular"), local("MontserratRegular"),
     url("../../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local("Montserrat-Medium"), local("MontserratMedium"),
     url("../../fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local("Montserrat-SemiBold"), local("MontserratSemiBold"),
     url("../../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}