table, caption, th, td {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

caption {
    border-bottom: none;
}

td, th {
    padding-left: 4px;
}

.accent {
    color: red;
}
